@model EjerciciosUnidad7.Models.ViewModels.PersonaDepartamentosViewModel
    

<h2>Editar Persona</h2>

<form asp-action="Guardar">
    <div>
        @Html.LabelFor(model => Model.persona.nombre)
        @Html.TextBoxFor(model => Model.persona.nombre, new { @class = "form-control" })
        <input type="text" value="@Model.persona.nombre" name="nombre" />
    </div>

    <div>
        @Html.LabelFor(model => Model.persona.apellido)
        @Html.TextBoxFor(model => Model.persona.apellido, new { @class = "form-control" })
    </div>

    <div>
        @Html.Label("Departamento")
        <select name="DepartamentoId" class="form-control">
            @foreach (var depto in Model.listadoDepartamentos)
            {
                if (Model.persona?.numDepartamento != null && Model.persona.numDepartamento == depto.idDepartamento)
                {
                    <option value="@depto.idDepartamento" selected>@depto.nombreDepartamento</option>
                }
                else
                {
                    <option value="@depto.idDepartamento">@depto.nombreDepartamento</option>
                }
            }
        </select>
    </div>

    <!-- Agrega más campos según las propiedades de la clase Persona -->

    <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
